#bigWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#columnWrapper{
    height:100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#leaderboard{
    height: 75%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

#winner{
    margin-top: auto;
    font-size: 45px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#participantsLeaderboard{
    margin-top: auto;
    height: 75%;
    border-radius: 12px;
    background:  rgba(29, 187, 226, 1);
    padding: 15px;
    overflow: auto;
}

.participantBox{
    background: rgba(29, 226, 175, 1);
    width: 100%;
    border-radius: 12px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between
}