*{
  font-family: Montserrat;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

html, body, #root{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.standard-button {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
}

button:hover {
  background-color: #79d7e4;
}

button.turn:hover {
  background-color: #eaeaea;
}

#buttonStopAudio{
  width: 24px;
  height: 24px;
  background: url('resources/Images/audio.png') no-repeat center center;
  background-size: 100% 100%;
}

#containerButtonStopAudio{
  border: 2px solid black;
  border-radius: 10px;
  float: right;
  padding: 5px;
  margin: 10px 10px 0px 0px;
  position: absolute;
  left: 96%;
}

#containerButtonStopAudio:hover{
  cursor: pointer;
} 